/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet');

* {
    font-family: 'Courier Prime', monospace;
    /* font-family: 'Courier New', sans-serif; */
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

*:focus {
    outline: white;
}


a {
    text-decoration: none;
    color: inherit;
}

textarea {
    width: 20rem;
    height: 10rem;
    resize: none;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

button {
    position: relative;
    border-radius: 4px;
    padding: 0.5rem;
    border: 1.5px solid black;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: gray;
    transition: background-position 0.5s ease-in-out, color 0.5s ease-in-out;
    font-size: 17.5px;
}

button:hover {
    background-position: left bottom;
    color: white;
}

@media only screen and (max-width: 1050px) {
    button {
    }
}

/* TOP MENU */

.topMenu {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.topMenu nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-position: right bottom;
    text-align: center;
    font-size: 25px;
    align-items: center;
    background: white;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.topMenu nav a {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.topMenu nav a span {
    position: relative;
    padding-bottom: 0.5vh;
}

.topMenu nav a span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease-in-out;
}

.topMenu nav a:hover span::after {
    width: 100%;
}

.topMenuHome {
    text-transform: uppercase;
}

.topMenuOther {
    text-transform: uppercase;
}

@media only screen and (max-width: 1050px) {
    .topMenu nav {
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}

    @media only screen and (max-width: 650px) {
        .topMenu nav {
            font-size: x-large;
        }
}

/* COLLECTION LIST LAYOUT */

.collectionListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-inline: 3.5rem;
    gap: 1.25rem 2.5rem;
    justify-items: center;
    padding-top: 15vh;
    /* margin-top: 15vh; */
}

.collectionElementContainer {
    text-align: center;
    margin-bottom: 1.5em;
}

.collectionElementImage {
    width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    z-index: 1;
}

.collectionElementImage:hover {
    transform: scale(1.05);
    z-index: 2;
}

.collectionTitle {
    font-size: 25px;
    margin-bottom: 0.75rem;
}

.collectionDescription {
    font-size: 20px;
    margin-top: 0.75rem;
}

@media only screen and (max-width: 1050px) {
    .collectionListContainer {
        display: flex;
        flex-direction: column;
        margin-inline: 0;
        }

    .collectionElementContainer {
        text-align: center;
        margin-bottom: 7.5vh;
    }

    .collectionTitle {
        margin-bottom: 2.5vw;
    }

    .collectionDescription {
        margin-top: 2.5vw;
    }

    .collectionElementImage {
        width: 80vw;
        aspect-ratio: 1 / 1;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 650px) {
    .collectionListContainer{
    }

}

/* ITEM DETAIL LAYOUT */

.detailPageBorder {
    margin-inline:  12.5%;
}

.detailPageContainer {
    display: grid;
    padding-top: 15vh;
    margin-bottom: 10vh;
    grid-template-areas:
        "image-box description-box"
        "selector-box selector-box"
}

.detailPageContainer.emailFormVisible {
    grid-template-areas:
        "image-box description-box"
        "email-box email-box"
        "selector-box selector-box"
}

@media only screen and (max-width: 1050px) {
    .detailPageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 650px) {
    .detailPageContainer {
        margin-bottom: unset;
    }
}

/* IMAGE SUB-DIVISION */

.imageBox {
    grid-area: image-box;
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;
    max-width: 400px;
    min-width: 250px;
    margin-right: 1rem;
}

.imageBoxImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
}

@media only screen and (max-width: 1050px) {
    .imageBox {
        margin-right: 0px;
        justify-content: center;
        align-items: unset;
        max-width: unset;
        min-width: unset;
        margin-bottom: 1vh;
    }

    .imageBoxImage {
        height: auto;
        width: 80vw;
    }
}

/* EXPERIMENTAL IMAGE FOCUS CONTENT */

.focusedBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.focusedBackdropVisible {
    opacity: 1;
    pointer-events: all;
}

.imageBoxImage {}

.imageBoxImage.focused {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.imageBoxImage.focusedVisible {
    height: 90vh;
    width: auto;
    opacity: 1;
}

@media only screen and (max-width: 1050px) {
    .imageBoxImage.focusedVisible {
        max-width: 90vw;
        max-height: 90vh;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 650px) {
    .imageBoxImage.focusedVisible {

    }
}

/* DESCRIPTION SUB-DIVISION */

.descriptionBoxContainer {
    grid-area: description-box;
    display: grid;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
    grid-template-areas:
        "descriptionBoxName descriptionBoxCollection"
        "descriptionBoxDateCreated descriptionBoxDimensions"
        "descriptionBoxMaterials descriptionBoxIsSold"
        "descriptionBoxDescription descriptionBoxDescription"
        "descriptionBoxEmailButton descriptionBoxEmailButton"
}

.descriptionBoxName {
    grid-area: descriptionBoxName;
}

.descriptionBoxCollection {
    grid-area: descriptionBoxCollection;
}

.descriptionBoxDate {
    grid-area: descriptionBoxDate;
}

.descriptionBoxDateCreated {
    grid-area: descriptionBoxDateCreated;
}

.descriptionBoxDimensions {
    grid-area: descriptionBoxDimensions;
}

.descriptionBoxMaterials {
    grid-area: descriptionBoxMaterials;
}

.descriptionBoxIsSold {
    grid-area: descriptionBoxIsSold;
}

.descriptionBoxDescription {
    grid-area: descriptionBoxDescription;
}

.descriptionBoxEmailButton {
    grid-area: descriptionBoxEmailButton;
}

.descriptionBoxKey {
    font-size: 15px;
    text-transform: uppercase;
    color: grey;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.descriptionBoxKey::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #bdbbbb;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
}

.descriptionBoxKey:hover::after {
    transform: scaleX(1);
}

.descriptionBoxValue {
    font-size: 20px;
}

@media only screen and (max-width: 1050px) {
    .descriptionBoxContainer {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: unset;
    }

    .descriptionBoxContainer>div {
        margin-block: 1.5rem;
        
    }

    .descriptionBoxKey {
    }

    .descriptionBoxValue {
    } 
}

/* EMAIL */

.emailBox {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-area: email-box;
    grid-column: span 2;
}

/* EMAIL FORM CSS */

.emailElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailElementBorder {
    border: 1.5px solid black;
    border-radius: 2px;
}

.emailSubjectRow {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.userEmailBox {
    width: 25vw;
    border: 1.5px solid black;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 5px;
}

.emailSubjectBox {
    width: 25vw;
    border: 1.5px solid black;
    border-right: 0px;
    border-top: 0px;
    padding: 5px;
}

.emailBodyBox {
    width: 50vw;
    border: 1.5px solid black;
    border-top: 0rem;
    border: 0px;
    padding: 5px;
}

.emailButton {
    margin-top: 5vh;
}

@media only screen and (max-width: 1050px) {
    .userEmailBox {
        width: 35vw;
    }

    .emailSubjectBox {
        width: 35vw;
    }

    .emailBodyBox {
        width: 70vw;
    }
}

/* SELECTOR */

.selectorBox {
    grid-area: selector-box;
    margin-block: 2rem;
    /* padding-inline: 7.5rem; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2.5rem 2.5rem;
    /* Experiment */
    justify-items: start;
}

.individualSelectorImage {
    text-align: center;
}

.individualSelectorImageProperties {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    z-index: 1;
}

.individualSelectorImageProperties:hover {
    transform: scale(1.1);
    z-index: 2;
}


@media only screen and (max-width: 1050px) {
    .selectorBox {
        display: flex;
        flex-direction: column;
        padding-inline: 0;
    }

    .individualSelectorImageProperties {
        width: 70vw;
    }
}

/* MAIN PAGE */

.mainPageDiv {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.mainPageTextDiv {
    width: 300px;
    height: 500px;
    margin-left: 2.5vw;
}

.introImage {
width: 375px;
height: 500px;
margin-right: 2.5vw;
border-radius: 4px;
}

.mainIntro {
    text-align: left;
    margin-right: auto;
}

.mainSigniature {
    text-align: right;
    margin-left: auto;
    /* font-weight: bolder; */
}

@media only screen and (max-width: 1050px) {
    .mainPageDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: unset;
    }

    .introImage {
        /* width: 80vw; */
        padding-right: unset;
    }

    .mainPageTextDiv {
        padding-block: 5vh;
        padding-left: 0%;
        width: 80vw;
    }
}

@media only screen and (max-width: 650px) {
    .mainPageDiv{
        /* padding-top: 5vh; */
        padding-bottom: 10vh;
    }

    .introImage {
    width: 80vw;
    height: auto;
    }
}

/* ABOUT */

.aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-inline: 12.5%;
}

.aboutIntro {
    /* font-weight: bolder; */
    margin-right: auto;
    font-size: x-large;
}

.aboutSigniature {
    margin-left: auto;
    /* font-weight: bolder; */
    font-size: x-large;
}

.aboutImage {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 4px;
}

@media only screen and (max-width: 1050px) {
    .aboutDiv {
        padding-bottom: 5vh;
    }
}

@media only screen and (max-width: 650px) {
    .aboutDiv {
    }
}

/* ADMIN */

.logDiv {
    padding-inline: 12.5%;
    display: flex;
    flex-direction: column;
}

.adminDiv {}

.collectionDiv {
    background: pink;
    padding-inline: 10%;
    padding-block: 2.5%;
    margin-block: 2.5%;
}

.itemDiv {
    background: orange;
    padding-inline: 10%;
    padding-block: 2.5%;
    margin-block: 2.5%;
}

.logDiv input,
textarea,
select {
    width: 100%;
}

.signifierOne {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-block: 0.5rem;
}

.signifierTwo {
    text-align: center;
    font-size: medium;
    font-size: 2rem;
    font-weight: bold;
    margin-block: 0.5rem;
    background: black;
    color: white;
}

.signifierThree {
    text-align: center;
    font-size: medium;
    font-size: 1.5rem;
    font-weight: bold;
    margin-block: 0.5rem;
}

.signifierFour {
    text-align: center;
    font-size: medium;
    font-size: 1.25rem;
    font-weight: bold;
    margin-block: 0.25rem;
}

.signifierRed {
    text-align: center;
    font-size: medium;
    font-size: 2rem;
    font-weight: bold;
    margin-block: 0.5rem;
    background: red;
    color: black;
}

.visualDivision {
    margin-block: 2rem;
}

.visualDivisionTwo {
    background: white;
}

/* WHATEVER*/
